name: build

on:
  workflow_dispatch:
  push:
   branches:
     - '**'
   paths:
     - '**.py'

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Create Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          spec: 'Python/main.spec'
          requirements: 'Python/requirements.txt'
          upload_exe_with_name: 'main'
      - name: tree
        run: |
          tree
          dir